.header {
  display: flex;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header-logo-image {
  height: 20px;
  vertical-align: center;
}

.bkp-toggler {
  height: 32px;
  width: 32px;
  border-width: 0;
  padding: 0;
}

.bkp-toggler .navbar-toggler-icon {
  height: 25px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,178,214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
